// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

  .intro {
    background: linear-gradient(rgba(253, 187, 19, 0.8) 50%, #fff 50%), url('https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/107abdea-a7fc-41f1-a3e4-b2b854b79465.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  
  }
  .bd-example {
    padding: 2.5rem;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5rem;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    box-shadow: 0 2px 8px;
    border-radius: 9px;
  }

.consent-text {
  font-size: 12px;
  font-size: 400;
  font-family: $open-sans;
}
  

.bg-lb {
  background-color: #e6f1fa;
  padding: 2rem;
  margin-top: 5rem;
  color: $ink-blue;
  border-radius: 9px;
}

.hd-5 {
  color: $ink-blue;
  font-weight: 700;
  font-size: 16px;
}
  // .form-whole {
  //   transform: none;
  // }
  // .form-group {
  //   margin-bottom: 1rem !important;
  // }
  
  // .discount {
  //   background: linear-gradient(#fff 6rem, $hero-blue 6rem);
  //   position: relative;
  // }
  
  
  
  
  // .complete-btn {
  //   background-color: $ink-blue !important;
  //   color: #fff !important;
  // }
  
  // .accordion-btn-content {
  //   font-weight: bolder;
  // }
  
  // .clock-icon1 {
  //   width: 6%;
  // }
  
  
  
  // .max-hh {
  //   max-height: none;
  // }
  
  // .vidyard-player-container {
  //   width: 100% !important;
  // }

  
  // @media screen and (min-width: 770px) {
    
  //   .form-whole {
  //     transform: translate(10px, -14rem);
  //   }
    
  //   .max-hh {
  //     max-height: 45rem;
  //   }
    
  //   .vidyard-player-container {
  //     width: 80% !important;
  //   }
  // }
  
  // @media screen and (min-width: 990px) {
 
  //  .max-hh {
  //    max-height: 35rem;
  //  }
 
 
  // }
  
 
  
  
 
  